extends ../layout

append layout-styles
  style.
    #promoCarousel .carousel-caption {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
    .card { transition: transform .5s; }
    .card:hover { transform: scale(1.05); }

block layout-content
  // Hero carousel
  #promoCarousel(data-bs-ride="carousel").carousel.slide
    - var i = 0
    .carousel-indicators
      each slide in carouselSlides
        button(
          type="button"
          data-bs-target="#promoCarousel"
          data-bs-slide-to=i
          aria-current=(slide.active.toString())
          class=(slide.active ? "active" : "")
        )
        - i++
    .carousel-inner
        each slide in carouselSlides
            .carousel-item(class=slide.active ? "active" : "")
                img(
                    src=`/public/images/home/${slide.photo.link}`
                    alt=slide.title
                    style="height: 25rem; object-fit:cover; filter: brightness(0.7);"
                    onerror="this.onerror=null;this.src='/public/images/home/preview-notfound.png';"
                ).d-block.w-100

                .carousel-caption(class=`text-${slide.align}`)
                    h1.mb-4 #{slide.title}
                    h4.fst-italic.mb-5 #{slide.description}
                    a(
                    href=slide.ctaButton.href
                    class=`btn btn-lg btn-success`
                    ) #{slide.ctaButton.label}

  
    button(type="button" data-bs-target="#promoCarousel" data-bs-slide="prev").carousel-control-prev
      span.carousel-control-prev-icon.p-3.rounded-circle(style="background-color:#4e342e;")
      span.visually-hidden Previous

    button(type="button" data-bs-target="#promoCarousel" data-bs-slide="next").carousel-control-next
      span.carousel-control-next-icon.p-3.rounded-circle(style="background-color:#4e342e;")
      span.visually-hidden Next

  // Best-seller carousel (tag: best-seller)
  section#bestSellers.container-sm.py-5
    h2.text-center.mb-5 Best sellers

    if bestSellers.length === 0
      p.text-center.text-muted No best seller products.
    else
      #bestSellerCarousel.carousel.slide
        .carousel-inner
          - var chunkSize = 3
          - for (let i = 0; i < bestSellers.length; i += chunkSize) {
          -   const chunk = bestSellers.slice(i, i + chunkSize);
              .carousel-item(class=i === 0 ? "active" : "")
                .row.row-cols-1.row-cols-md-2.row-cols-xl-3.g-5.px-5
                    each product in chunk
                        include ../partials/product-card
                        - var product = product
                    
          - }

        button(type="button" data-bs-target="#bestSellerCarousel" data-bs-slide="prev").carousel-control-prev
          span.carousel-control-prev-icon.p-3.rounded-circle(style="background-color: #85554bff;")
          span.visually-hidden Previous

        button(type="button" data-bs-target="#bestSellerCarousel" data-bs-slide="next").carousel-control-next
          span.carousel-control-next-icon.p-3.rounded-circle(style="background-color: #85554bff;")
          span.visually-hidden Next

  // Christmas carousel (tag: chrismas)
  section#newestArrivals.container-sm.py-5
    h2.text-center.mb-5 Christmas

    if christmas.length === 0
      p.text-center.text-muted No Christmas products.
    else
      #christmasCarousel.carousel.slide
        .carousel-inner
          - var chunkSize2 = 3
          - for (let i = 0; i < christmas.length; i += chunkSize2) {
          -   const chunk = christmas.slice(i, i + chunkSize2);
              .carousel-item(class=i === 0 ? "active" : "")
                .row.row-cols-1.row-cols-md-2.row-cols-xl-3.g-5.px-5
                  each product in chunk
                    include ../partials/product-card
                      - var product = product
          - }

        button(type="button" data-bs-target="#christmasCarousel" data-bs-slide="prev").carousel-control-prev
          span.carousel-control-prev-icon.p-3.rounded-circle(style="background-color:#4e342e;")
          span.visually-hidden Previous

        button(type="button" data-bs-target="#christmasCarousel" data-bs-slide="next").carousel-control-next
          span.carousel-control-next-icon.p-3.rounded-circle(style="background-color:#4e342e;")
          span.visually-hidden Next

  // Nút MENU theo màu Noel
  a(href="/products/all").d-block.btn.btn-lg.btn-success.px-5.mx-auto.mb-5 MENU
