extends ../layout

block layout-content
  .container-sm.py-5
    .row.gx-5.gy-4.justify-content-center
      .col-12.col-lg
        img(
          src=previewImage
          alt=product.name
        ).d-block.w-100.object-fit-cover.rounded

      .col-12.col-md
        - const price = availableItem ? availableItem.price : undefined

        h1.mb-2 #{product.name}

        if product.tags.length > 0
          .d-flex.flex-wrap.gap-2.mb-3
            .d-flex.gap-2.me-4
              strong.me-3 Tags:

            each tag in product.tags
              - const isXmas = tag === "christmas"
              span.fs-6.badge.rounded-0(
                class=isXmas ? "bg-danger-subtle text-danger" : "bg-success-subtle text-success"
              ) #{tag}


        h2.my-3(class=price ? "text-success" : "text-secondary")= price ? `${price.toLocaleString("vi-VN")}đ` : "Not available"

        .d-flex.align-items-center.gap-3
          span Options
          hr.w-100.m-0

        .d-flex.flex-column.gap-3.pt-4
          each [spec, values] of Object.entries(options)
            .row.d-flex.align-items-center.gap-2
              .col-2.strong.me-4 #{spec}

              .col.d-flex.gap-2.flex-wrap
                each value in Array.from(values)
                  - const selected = value === selectedOptions[spec]
                  - const params = new URLSearchParams()

                  - Object.entries(selectedOptions).forEach(([sKey, sVal]) => params.set(sKey, sVal))
                  - params.set(spec, value)

                  a(
                    href=`?${params.toString()}`
                    class=(selected ? "btn btn-success active" : "btn btn-outline-success")
                    style=(selected ? "pointer-events: none" : "")
                  ) #{value}

        .mt-4
          if availableItem
            form(method="POST" action=`/cart/add-item?id=${availableItem.id}`)
              button(type="submit").btn.btn-success.px-3.py-2
                iconify-icon(icon="mynaui:cart").me-3
                span Add to cart
          else
            button(type="button" disabled).btn.btn-outline-secondary.px-3.py-2
              iconify-icon(icon="mynaui:sad-circle").me-3
              span Item not available

    .d-flex.align-items-center.gap-3.mt-5
      h5.text-nowrap PRODUCT DESCRIPTION
      hr.w-100.m-0

    p(style="text-align: justify").mt-3 #{product.description}
