- const navs = { "/": "HOME", "/products/all": "MENU", "/about": "ABOUT US" }

header.navbar.navbar-expand-lg.navbar-dark.sticky-top.pb-0(style="background-color:#4e342e;")
  .container-md
    a(href="/").navbar-brand.fw-bold 2LANE COFFEE

    button.navbar-toggler(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navs"
      aria-controls="navs"
      aria-expanded="false"
    )
      span.navbar-toggler-icon

    .collapse.navbar-collapse#navs
      // nav trái
      ul.nav.nav-underline.me-auto(
        style={
          "--bs-nav-link-color": "#fbe9e7",
          "--bs-nav-link-hover-color": "var(--bs-success)",
          "--bs-nav-underline-link-active-color": "#ffdd57"
        }
      )
        each [key, value] of Object.entries(navs)
          - const active = key === activeNav
          li.nav-item
            a.nav-link.px-3(
              href=key
              aria-current=(active ? "page" : "")
              class=(active ? "active" : "")
            ) #{value}

      // cart + profile bên phải
      if vnp_Params === undefined
        .d-flex.align-items-center.gap-2
          a(href="/cart").btn.position-relative.text-light
            iconify-icon(icon="mynaui:shopping-bag")
            if cartCount > 0
              span(style="margin-top: -.3rem").badge.position-absolute.top-50.start-50.text-light.bg-danger.border.border-2.border-light.rounded-pill #{cartCount}

        .dropdown
          button(type="button" data-bs-toggle="dropdown" aria-expanded="false").btn.text-light
            iconify-icon(icon="mynaui:user-circle")
            span.ms-2 #{userName || "Guest"}

          ul.dropdown-menu.dropdown-menu-end(
            style="--bs-dropdown-link-active-bg: var(--bs-success)"
          )
            if showDashboard
              li
                a(href="/dashboard").dropdown-item
                  iconify-icon(icon="mynaui:cog-three")
                  span.ms-2.me-4 Go to dashboard

            if userName
              li
                a(href="/profile").dropdown-item
                  iconify-icon(icon="mynaui:user-square")
                  span.ms-2.me-4 Profile
              li(style="--bs-dropdown-link-active-bg: var(--bs-danger)")
                form(method="POST" action="/logout")
                  button(type="submit").dropdown-item.text-danger
                    iconify-icon(icon="mynaui:logout")
                    span.ms-2.me-4 Logout
            else
              li
                a(href="/login").dropdown-item
                  iconify-icon(icon="mynaui:login")
                  span.ms-2.me-4 Login
