extends ../layout

block layout-content
    if errorMsg
      .alert.alert-danger.mt-3.mb-3= errorMsg

    button(type="button" data-bs-toggle="modal" data-bs-target="#productModal").btn.btn-outline-dark.mb-3
        iconify-icon(icon="mynaui:plus")
        span.ms-3 New product
    
    #productAccordion(style="--bs-accordion-active-bg: var(--bs-body)").accordion
        each product in products
            .accordion-item
                .accordion-header
                    button(type="button" data-bs-toggle="collapse" data-bs-target=`#productAccordion_${product.id}` aria-expanded="false").accordion-button.collapsed
                        img(
                            src=`/public/images/products/${product.id}/thumb.jpg`
                            onerror="this.onerror = null; this.src='/public/images/products/thumb-notfound.jpg'"
                            width="40" height="40"
                        ).object-fit-cover
                        span.ms-4 #{product.name}
                
                .accordion-collapse.collapse(id=`productAccordion_${product.id}`)
                    .accordion-body.p-0
                        .table-responsive
                            table.table.table-striped.table-hover.m-0
                                - const allSpecs = getAllItemSpecsFromProduct(product)

                                caption.px-2.ms-2
                                    span(style="line-height: 2.5rem") #{product.items.length} item(s)

                                    .d-flex.gap-2.float-end
                                        button(type="button" data-bs-toggle="modal" data-bs-target="#productModal" data-bs-product=product).btn.btn-outline-dark
                                            iconify-icon(icon="mynaui:pencil")
                                            span.ms-3 Edit product

                                        div.vr.mx-1



                                thead
                                    each header in ["ID", "Price", ...Object.keys(allSpecs)]
                                        th(scope="col").col-1 #{header}

                                tbody.align-middle
                                    each item in product.items
                                        tr
                                            td #{item.id}

                                            td #{item.price.toLocaleString("vi-VN") + "đ"}

                                            
                                            each key in Object.keys(allSpecs)
                                                td #{item.specs[key] || "-"}

                                         


    #productModal(aria-hidden="true" aria-labelledby="productModalLabel" tabindex="-1").modal.fade
        .modal-dialog.modal-lg
            form(x-data method="POST" action="#")#productForm.modal-content
                .modal-header
                    h5#itemModalLabel.modal-title Product details
                    button(type="button" data-bs-dismiss="modal" aria-label="Close").btn-close

                .modal-body#productEditDetails(x-data="{ specs: {}, specMap: {}, tagsStr: '', sizes: [] }")
                    .row.gx-2.mb-3
                        .col
                            label(for="id").form-label ID
                            input(type="text" name="id" required pattern="[a-z0-9\\-]*").form-control.font-monospace
                        
                        .col
                            label(for="name").form-label Name
                            input(type="text" name="name" required).form-control

                    .row.gx-2.mb-3
                        .col
                            label(for="category").form-label Category
                            select(name="category" required).form-select
                                option(value="" disabled selected)= "Select category"
                                each c in categories
                                    option(value=c.value)= c.label


                    .mb-3
                        label.form-label Tags
                        // không có required
                        input(type="text" x-model="tagsStr" pattern="[a-z0-9,\\-]*").form-control

                        // hidden gửi mảng tags, nếu trống -> []
                        input(
                            type="hidden"
                            name="tags"
                            :value=`JSON.stringify(
                                tagsStr
                                    .split(",")
                                    .map(t => t.trim())
                                    .filter(t => t !== "")
                            )`
                        )


                    .mb-3
                        label(for="description").form-label Description
                        textarea(name="description" rows="8" style="resize: none").form-control

                    div
                        span Sizes
                        table.table.table-striped.table-hover
                            caption
                                button(
                                    type="button"
                                    @click="sizes.push({ size: '', price: '' })"
                                ).btn.btn-outline-dark.float-end
                                    iconify-icon(icon="mynaui:plus")
                                    span.ms-3 Add size
                            thead
                                tr
                                    th Size
                                    th Price
                                    th
                            tbody
                                template(x-for="(row, idx) in sizes" :key="idx")
                                    tr
                                        td
                                            input(type="text" x-model="row.size" placeholder="Size").form-control
                                        td
                                            input(type="text" x-model="row.price" placeholder="Price").form-control
                                        td
                                            button(
                                                type="button"
                                                @click="sizes.splice(idx, 1)"
                                            ).btn.p-2.text-danger
                                                iconify-icon(icon="mynaui:trash")

                        // nếu muốn gửi sizes lên backend
                        input(
                            type="hidden"
                            name="sizes"
                            :value=`JSON.stringify(
                                sizes.filter(s => s.size && s.price)
                            )`
                        )

                    
                .modal-footer
                    button(type="button" data-bs-dismiss="modal").btn.btn-outline-dark Close
                    button(type="submit").btn.btn-dark Confirm

block js-imports
    script(src="/protected/dashboard/products.js")